<b><p><%= comment.user.user_name %></p></b>
<p><%= comment.comment_text %></td>
<% if comment.images.attached? %>
    <ul class="comment_images d-flex">
      <% comment.images.each do |image| %>
        <li>
          <%= image_tag(image, width: 300) %>
        </li>
      <% end %>
    </ul>
  <% end %>

<div>
  <% if current_user == comment.user or current_user.has_role? :BD %>
    <%= link_to 'Edit', edit_comment_path(comment), class: "btn btn-secondary" %>
    <%= link_to 'Delete', comment_path(comment),
          method: :delete,
          data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>
</div>
<hr>

