<section class="form-auth text-center auth-user">
  <%= form_with model: user do |f| %>
    <%# render "devise/shared/error_messages", resource: resource %>

    <h1 class="h3 mb-3 font-weight-normal">Create User</h1>

    <%= f.text_field :user_name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "Full Name" %>
    <%# <%= f.number_field :user_role, autofocus: true, class: "form-control", placeholder: "User Role" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>
    <div class="role_select">
      <%= f.label :user_role%>
      <%= f.select :user_role, ['','admin', 'BD', 'TM', 'engineer'], selected: user.user_role %>
    </div>
    <% if !user.id %>
      <%= f.password_field :password , class: "form-control", placeholder: "Password (Minimum 6 character)"%>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
    <% end %>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create User</button><br>
  <% end %>
</section>
