<section class="form-auth auth-user">
  <%= form_with model: lead, local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: lead %>

    <h4 class="h4 mb-3 font-weight-normal">Lead Info</h4>
    <%= f.text_field :lead_name, autofocus: true, class: "form-control", placeholder: "Lead Name", required:true %>
    <%= f.text_field :lead_type, autofocus: true, class: "form-control", placeholder: "Lead Type", required:true %>
    <%= f.text_field :platform_used, autofocus: true, class: "form-control", placeholder: "Platform" %>
    <h4 class="h4 mb-3 font-weight-normal">Client Info</h4>
    <%= f.text_field :client_name, autofocus: true, class: "form-control", placeholder: "Client Name", required:true%>
    <%= f.text_field :client_address, autofocus: true, class: "form-control", placeholder: "Client Address"%>
    <%= f.email_field :client_email, autofocus: true, class: "form-control", placeholder: "Client Email",required:true %>
    <%= f.text_field :client_contact, autofocus: true, class: "form-control", placeholder: "Client Contact", required:true %>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button><br>
  <% end %>
</section>
