<h1>Leads</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Lead Name</th>
      <th scope="col">Lead Type</th>
      <th scope="col">Platform</th>
      <th scope="col">Client Name</th>
      <th scope="col">Owner</th>
    </tr>
    <tr>
  </tr>
  </thead>
  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <th scope="row">*</th>
        <td><%= lead.lead_name %></td>
        <td><%= lead.lead_type %></td>
        <td><%= lead.platform_used %></td>
        <td><%= lead.client.client_name %></td>
        <td><%= lead.user.user_name %></td>
        <%# <td><%= link_to 'Show', article_path(article) %>
      </tr>
    <% end %>
  </tbody>
</table>
