<h3>Phase Detail</h3>
<b><p>Lead Name : <%= @phase.lead.lead_name%></p></b>
<p>Phase Type : <%= @phase.phase_type %></p>
<p>Start Date : <%= @phase.start_date %></p>
<p>End Date : <%= @phase.end_date %></p>
<p>Assigned Technical Manager : <%= @phase.user.user_name %></p>
