<% if @phase.errors.any? %>
  <div>
    <h2>
      <%= pluralize(@phase.errors.count, "error") %> prohibited
      this Phase from being Saved:
    </h2>
    <ul>
      <% @phase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :phase_type %>:
<%= f.select :phase_type, ['test project', 'interview'],{ prompt: "Please select Phase Type"}, autofocus: true, class: "form-control", selected: @phase.phase_type %>

<div class='flex_space_between'>
  <%= f.label :start_date %>:
  <div><%= f.date_select :start_date, start_year: Date.current().year, autofocus: true, class: "form-control" %></div>
</div>
<div class="flex_space_between">
  <%= f.label :end_date %>:
  <div class><%= f.date_select :end_date, start_year: Date.current().year ,autofocus: true, class: "form-control" %></div>
</div>
<div>
  <%= f.collection_select :user_id, all_tech_manager, :id, :user_name,{ prompt: "Please select Technical Manager"}, autofocus: true, class: "form-control" %>
</div>
<% if params[:id] %>
  <div>
    <%= f.label :approved %>:
    <%= f.check_box :approved, class: 'checkbox' %>
  </div>
<% end %>

<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button><br>
