<h2>Phases</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Sr.</th>
      <th scope="col">Phase Type</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Assigned To</th>
      <th scope="col">Assigned Engineer</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
  </tr>
  </thead>
  <tbody>
    <% @id = 0 %>
    <% @phases.each do |phase| %>
      <% @id += 1%>
      <tr>
        <th scope="row"><%= @id %></th>
        <td><%= phase.phase_type %></td>
        <td><%= phase.start_date %></td>
        <td><%= phase.end_date %></td>
        <td><%= phase.user.user_name %></td>
        <td>
          <%= find_all_engineer_of_phase(phase.assigned_engineer) if phase.assigned_engineer %>
        </td>
        <td><%= link_to 'Add Engineer', phase_add_engineer_path(phase), class: "btn btn-secondary" if (phase.is_accepted) || (current_user.has_role? :BD) %></td>
        <td><%= link_to 'View',phase_path(phase), class: "btn btn-primary" %></td>
        <% if policy(Phase).update? %>
          <%= render 'restricted_options', phase: phase %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'shared/back_navigation', path: lead_path(params[:lead_id])  %>
