<h1>Phases</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Phase Type</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Assigned To</th>
      <th scope="col">Assigned Engineer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
  </tr>
  </thead>
  <tbody>
    <% @phases.each do |phase| %>
      <tr>
        <th scope="row">*</th>
        <td><%= phase.phase_type %></td>
        <td><%= phase.start_date %></td>
        <td><%= phase.end_date %></td>
        <td><%= phase.user.user_name %></td>
        <td><%= phase.assigned_engineer %></td>
        <td><%= link_to 'View',phase_path(phase), class: "btn btn-primary" %></td>
        <% if current_user %>
          <% if current_user.has_role? :BD %>
            <td><%= link_to 'Edit', edit_phase_path(phase), class: "btn btn-secondary" %></td>
            <td><%= link_to 'Delete', phase_path(phase),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                  </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'shared/back_navigation', path: lead_path(params[:lead_id])  %>
