<!DOCTYPE html>
<html>
  <head>
    <title>LeadManagementEngine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="btn btn-primary">
       <% if user_signed_in?%>
        <%= link_to 'log out', destroy_user_session_path , method: :delete ,:class=> "btn" %>
       <% else %>
        <%= link_to 'login', new_user_session_path, :class => "btn" %> |
        <%= link_to 'sign up', new_user_registration_path, :class => "btn"%>
      <% end %>
   </div>

    <%= yield %>
  </body>
</html>
